# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/

# Docker-specific files
*.log
docker-compose.override.yml
.env

# Python-related cache and logs
*.log
*.cache

# Ignore email recipient list file
emails.txt
